bin/
csgo/*
!csgo/addons/
csgo/addons/sourcemod/logs/
!csgo/cfg/custom/
!csgo/cfg/sourcemod/
!csgo/webapi_authkey.txt
csgo/expressions/
csgo/panorama/
csgo/scripts/
!csgo/sound/
!csgo/sound/*
fastdl/logs/**
fastdl/logs/error.log
fastdl/logs/httpd.pid
fastdl/www/
platform/
steamapps/




