#normal rules go here
bin/
csgo/*.*
csgo/addons/sourcemod/logs/
csgo/cfg/*.*
csgo/cfg/coop/
csgo/cfg/survival/
csgo/expressions/
csgo/logs/
csgo/maps/
csgo/materials/
csgo/models/
csgo/panorama/
csgo/resource/
csgo/scenes/
csgo/scripts/
fastdl/logs/**
fastdl/logs/error.log
fastdl/logs/httpd.pid
fastdl/www/
platform/
steamapps/

*.dmp

#inverted rules go below
!csgo/addons/
!csgo/cfg/sourcemod
!csgo/sound/
!csgo/sound/**
!csgo/README.md
!csgo/bspconvar_whitelist.txt
!csgo/mapcycle*.txt
!csgo/webapi_authkey.txt
